body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Space Mono', monospace;
  text-align: center;

}

h1 {
  margin: 12px;
  font-size: 24px;
  font-weight: bold;
}

li {
  list-style-type: none;
  margin: 0 25px 0 0;
}

#map {
  align-self: center;
  height: 30rem;
  width: 100rem;
}

.info {
  margin: 20px 0;
}

@media (max-width: 768px) {
  #map {
    width: 90%;
    height: 24rem;
  }  
  .info {
  margin: 20px;
  }
}