body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  margin: 12px;
  text-align: center;
  font-size: 24px;
}

#map {
  margin: auto;
  height: 90%;
  width: 80%;
}
