body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Space Mono', monospace;
  text-align: center;

}

h1 {
  margin: 12px;
  font-size: 24px;
  font-weight: bold;
}

li {
  list-style-type: none;
  margin: 0 25px 0 0;
}

#map {
  margin: auto;
  height: 90%;
  width: 80%;
}
